.actTableContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgba(149, 146, 146, 0.7);
    margin: 20px;
    border-radius: 20px;
}
.topContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.topButton {
    margin: 10px 40px;
    text-align: right; 
}
.topButton button {
    padding: 5px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #e4bf50;
    color: #fff;
    cursor: pointer;
}
.actH1 {
    margin: 10px 40px;
    font-size: 25px;
    color: #2c5398;
}
.actTableContainer {
    display: block;  
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
    background-color: rgba(149, 146, 146, 0.7);
    border-radius: 20px;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
}
.borrowedTable .bItemsTable {
    margin: 20px;
    width: 98%;
    table-layout: fixed;
    box-sizing: border-box;
}
.bItemsTable th {
    border: 2px solid #cfb9b9;
    padding: 5px 30px;
    background-color: #2c5398;
    font-weight: bold;
    font-size: 20px; 
    color: #fff;
}
.bItemsTable td {
    border: 2px solid #cfb9b9;
    padding: 5px 30px;
    width: 50px;
    height: 30px;
    background-color: #fff;
    font-size: 15px;
} 
.bottomButton {
    margin: 10px;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.bottomButton a{
    padding: 5px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #2c5398;
    color: #fff;
    cursor: pointer;
}